<footer class="bg-night flex flex-col items-center">
  <div class="flex justify-center text-white pt-5">
    <h2 class="font-bold text-3xl">FutScorePerú</h2>
  </div>
  <div class="container flex justify-center py-5">
    <a href="http://www.facebook.com" class="rounded-full hover:bg-zinc-800 mx-2 text-white hover:text-crimson">
      <div class="flex items-center justify-center h-12 w-12 rounded-full">
        <lucide-angular [name]="Facebook"></lucide-angular>
      </div>
    </a>
    <a href="http://www.instagram.com" class="rounded-full hover:bg-zinc-800 mx-2 text-white hover:text-crimson">
      <div class="flex items-center justify-center h-12 w-12 rounded-full">
        <lucide-angular [name]="Instagram"></lucide-angular>
      </div>
    </a>
    <a href="http://www.x.com" class="rounded-full hover:bg-zinc-800 mx-2 text-white hover:text-crimson">
      <div class="flex items-center justify-center h-12 w-12 rounded-full">
        <lucide-angular [name]="Twitter"></lucide-angular>
      </div>
    </a>
  </div>
  <div class="text-center md:text-left pb-5">
    <div class="mx-5 md:mx-10 lg:mx-20 grid-1 grid gap-8 md:grid-cols-3 text-white">
      <div class="flex justify-center md:justify-end">
        <div class="w-10/12 md:w-11/12 lg:w-3/5">
          <h6 class="flex justify-center font-semibold uppercase md:justify-start">
            <lucide-angular [name]="LandPlot" class="mr-1"></lucide-angular> Contenido
          </h6>
          <hr class="h-1 my-3 w-full bg-crimson border-none rounded-full">
          <p class="text-center md:text-justify text-gray-200">
            Desde la pasión de la Liga 1 hasta la emoción de la Copa Perú, seguimos cada gol que hace vibrar a los hinchas de todo el país, llevando la alegría del fútbol a cada rincón.
          </p>
        </div>
      </div>
      <div class="flex justify-center text-center">
        <div class="w-10/12 md:w-11/12 lg:w-3/5">
          <h6 class="flex justify-center font-semibold uppercase">Web</h6>
          <hr class="h-1 my-3 w-full bg-crimson border-none rounded-full">
          @for (item of routesWeb; track $index) {
            <p class="mb-2"><a [routerLink]="item.path" routerLinkActive="text-crimson" class="text-gray-200 hover:text-crimson">{{ item.name }}</a></p>
          }
        </div>
      </div>
      <div class="flex justify-center md:justify-start text-center">
        <div class="w-10/12 md:w-11/12 lg:w-3/5">
          <h6 class="flex justify-center font-semibold uppercase">Ligas</h6>
          <hr class="h-1 my-3 w-full bg-crimson border-none rounded-full">
          @for (item of routesLigas; track $index) {
            <p class="mb-2"><a [routerLink]="item.path" routerLinkActive="text-crimson" class="text-gray-200 hover:text-crimson">{{ item.name }}</a></p>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-center text-white  bg-crimson">
    <span class="py-2 font-semibold">&#64; 2025 MAVP Projects</span>
  </div>
</footer>