<nav class="bg-[#161513]">
  <div class="w-full flex justify-between items-center">
    <!-- Left container -->
    <div class="flex items-center bg-[#dc143c] min-w-28">
      <div class="rounded-full bg-white p-1 mx-2">
        <img src="assets/images/no-team-liga-1.png" alt="Logo" class="h-8 w-8">
      </div>
      <div class="border-l-[3.5rem] border-t-[3.5rem] border-l-transparent border-t-[#161513] bg-[#dc143c]"></div>
    </div>

    <!-- Center container -->
    <div class="hidden md:flex mx-auto space-x-6">
      @for (route of routes; track $index) {
        <a [routerLink]="route.path" class="text-gray-100 hover:text-[#dc143c]">{{ route.name }}</a>
      }
    </div>

    <!-- Right container -->
    <div class="hidden md:flex min-w-28"></div>

    <!-- Hamburger Menu for Mobile -->
    <button (click)="toggleMenu()" class="md:hidden text-gray-300 focus:outline-none pr-2" [ngClass]="{'text-[#dc143c]': menuOpen === true,}">
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>
  </div>
  <div class="h-2 bg-[#dc143c]"></div>

  <!-- Mobile Menu -->
  <div *ngIf="menuOpen" class="flex flex-col items-center md:hidden">
    @for (item of routes; track $index) {
      <a [routerLink]="item.path" class="w-full text-gray-300 hover:text-[#dc143c]">
        <div class="h-10 flex items-center justify-center">{{ item.name }}</div>
      </a>
    }
  </div>
</nav>
