<div class="relative w-full max-w-3xl mx-auto overflow-hidden">
  <div class="flex transition-transform duration-500" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
    @for (item of data; track $index) {
      <app-manager-card class="min-w-full" [data]="item"></app-manager-card>
    }
  </div>

  <button (click)="prev()" class="hidden md:block absolute w-12 h-12 left-0 top-1/2 transform -translate-y-9 bg-brightnight text-white rounded-full hover:bg-crimson">
    &#10094;
  </button>
  <button (click)="next()" class="hidden md:block absolute w-12 h-12 right-0 top-1/2 transform -translate-y-9 bg-brightnight text-white rounded-full hover:bg-crimson">
    &#10095;
  </button>

  <div class="flex justify-center space-x-2 my-3">
    @for (item of data; track $index) {
    <span
      (click)="goToSlide($index)"
      [ngClass]="currentIndex === $index ? 'bg-crimson' : 'bg-gray-300'"
      class="w-3 h-3 rounded-full cursor-pointer hover:bg-crimson"
    >
    </span>
    }
  </div>
</div>