<app-title [title]="'Categorías'"></app-title>
<div class="flex justify-center bg-night">
  <div class="w-full sm:w-5/6 md:3/5 select-none grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-5 sm:gap-6 p-5 sm:px-16 sm:py-12">
    @for (item of divisions; track $index) {
      <div>
        <div class="bg-nightfall border-none">
          <div class="bg-white dark:bg-brightnight transition dark:transition duration-300 dark:duration-300 pt-5 px-9 overflow-hidden relative rounded-br-[30px]">
            <div class="w-20 h-20 bg-crimson rounded-full absolute -right-5 -top-7">
              <p class="absolute flex justify-center">1</p>
            </div>
            <img loading="lazy" [src]="item.image" alt="Liga-logo" class="w-16 min-w-16">
            <h2 class="text-crimson dark:text-gold transition dark:transition duration-300 dark:duration-300 font-bold text-2xl truncate">{{ item.title }}</h2>
            <p class="text-zinc-500 dark:text-white transition dark:transition duration-300 dark:duration-300 text-sm font-semibold py-2">
              <fa-icon [icon]="Shield"></fa-icon> {{ item.teams }} Equipos
            </p>
          </div>
        </div>
        <div class="bg-white dark:bg-brightnight transition dark:transition duration-300 dark:duration-300 border-none">
          <div class="bg-nightfall py-3 px-9 rounded-tl-[30px]">
            <div class="text-white flex justify-center">
              <a [routerLink]="item.routes">
                <button class="bg-crimson hover:bg-gold transition duration-300 w-20 py-1 skew-x-30">
                  <div class="-skew-x-30"><fa-icon [icon]="Arrow"></fa-icon></div>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
<div class="bg-night text-white">
  <app-title [title]="'Equipos'"></app-title>
  <div class="p-5">
    <p class="text-2xl font-bold">Liga 1</p>
    <div class="bg-crimson skew-x-50 h-1.5 w-20 my-2"></div>
    @defer () {
      <app-teams-carousel [data]="teamsL1" [reverse]="false" [duration]="'90s'"></app-teams-carousel>
    } @placeholder (minimum 2s) {
      <div class="w-full flex justify-center p-1">
        <div class="bg-nightfall flex items-center p-2 h-32">
          <p class="text-crimson px-12">Cargando...</p>
        </div>
      </div>
    }
  </div>
  <div class="px-5">
    <p class="text-2xl font-bold">Liga 2</p>
    <div class="bg-crimson skew-x-50 h-1.5 w-20 my-2"></div>
    @defer () {
      <app-teams-carousel [data]="teamsL2" [reverse]="true" [duration]="'71s'"></app-teams-carousel>
    } @placeholder (minimum 2s) {
      <div class="w-full flex justify-center p-1">
        <div class="bg-nightfall flex items-center p-2 h-32">
          <p class="text-crimson px-12">Cargando...</p>
        </div>
      </div>
    }
  </div>
  <div class="p-5">
    <p class="text-2xl font-bold">Liga 3</p>
    <div class="bg-crimson skew-x-50 h-1.5 w-20 my-2"></div>
    @defer () {
      <app-teams-carousel [data]="teamsL3" [reverse]="false" [duration]="'175s'"></app-teams-carousel>
    } @placeholder (minimum 2s) {
      <div class="w-full flex justify-center p-1">
        <div class="bg-nightfall flex items-center p-2 h-32">
          <p class="text-crimson px-12">Cargando...</p>
        </div>
      </div>
    }
  </div>
</div>