<!-- Main Background -->
<img class="hidden md:block w-full" src="assets/images/pages/Banner-cp.webp" alt="CP-Background">
<img class="block md:hidden" src="assets/images/pages/Banner-cp-vertical.webp" alt="CP-Background">
<!-- Division -->
<div class="bg-night h-6 md:h-12 duration-500"></div>
<app-division-overview [data]="dataDivision" [description]="descriptionDivision" [tags]="tagsDivision"></app-division-overview>
<!-- Map -->
<app-division-map [regions]="regions" [mapConstructor]="mapConstructor" [dataMap]="dataMap"></app-division-map>
<!-- Teams -->
<app-division-teams [division]="{name: 'Copa Perú', logo: './assets/images/pages/copa-peru.webp', toLeagues: true }" [teams]="teams"></app-division-teams>
<!-- Tournament -->
<app-division-summary [summaryData]="summaryData"></app-division-summary>