<!-- Main -->
<img class="hidden md:block w-full" src="assets/images/pages/Banner-cp.webp" alt="CP-Background">
<img class="block md:hidden" src="assets/images/pages/Banner-cp-vertical.webp" alt="CP-Background">
<!-- Division -->
@if (dataDivision) {
  <app-division-overview [division]="dataDivision"></app-division-overview>
}
<!-- Map -->
<app-division-map [regions]="regions" [mapConstructor]="mapConstructor" [dataMap]="dataMap"></app-division-map>
<!-- Teams -->
@if (dataDivision) {
  <app-division-teams
    [division]="{ name: dataDivision.name, logo: dataDivision.image, toLeagues: true }"
    [teams]="dataTeams"
  ></app-division-teams>
}
<!-- Tournament Summary -->
@if (dataDivisionSummary) {
  <app-division-summary
    [division]="dataDivisionSummary"
  ></app-division-summary>
}