<!-- Fixture -->
<app-division-fixture [stageData]="stageData" [fixture]="fixture" [duration]="'90s'"></app-division-fixture>
<!-- Main -->
<div class="bg-night flex flex-col md:flex-row gap-5 px-3 sm:px-5 pb-10 md:pb-24 select-none duration-500">
  <div class="flex flex-col gap-3 sm:gap-5 duration-500">
    <img class="hidden lg:block w-full" src="assets/images/pages/Banner-l3.webp" alt="L3-Background">
    <img class="block lg:hidden" src="assets/images/pages/Banner-l3-vertical.webp" alt="L3-Background">
    <app-division-overview [data]="dataDivision" [description]="descriptionDivision" [tags]="tagsDivision"></app-division-overview>
  </div>
  <div>
    <div class="bg-crimson text-white w-full text-center background-pattern p-2 duration-500">
      <p class="text-white font-bold text-3xl md:text-xl duration-500">Tabla de Posiciones</p>
    </div>
    <div class="flex flex-col px-3 my-3">
      <app-btn (click)="setActiveTab('regional')" [active]="regional" [small]="true">Fase Regional</app-btn>
      <app-btn (click)="setActiveTab('grupos')" [active]="final" [small]="true">Fase Final</app-btn>
    </div>
    <div class="flex flex-col gap-2">
      @if (regional) {
        <div class="w-fit">
          <h3 class="text-xl text-white font-bold">Grupo 1</h3>
          <div class="bg-crimson skew-x-50 h-1.5 mt-1"></div>
        </div>
        <app-division-table [data]="tableRegionalA" [config]="configRegional"></app-division-table>
        <div class="w-fit">
          <h3 class="text-xl text-white font-bold">Grupo 2</h3>
          <div class="bg-crimson skew-x-50 h-1.5 mt-1"></div>
        </div>
        <app-division-table [data]="tableRegionalB" [config]="configRegional"></app-division-table>
        <div class="w-fit">
          <h3 class="text-xl text-white font-bold">Grupo 3</h3>
          <div class="bg-crimson skew-x-50 h-1.5 mt-1"></div>
        </div>
        <app-division-table [data]="tableRegionalC" [config]="configRegional"></app-division-table>
        <div class="w-fit">
          <h3 class="text-xl text-white font-bold">Grupo 4</h3>
          <div class="bg-crimson skew-x-50 h-1.5 mt-1"></div>
        </div>
        <app-division-table [data]="tableRegionalD" [config]="configRegional"></app-division-table>
      }
      @if (final) {
        <div class="w-fit">
          <h3 class="text-xl text-white font-bold">Grupo 1</h3>
          <div class="bg-crimson skew-x-50 h-1.5 mt-1"></div>
        </div>
        <app-division-table [data]="tableFinal1" [config]="configFinal"></app-division-table>
        <div class="w-fit">
          <h3 class="text-xl text-white font-bold">Grupo 2</h3>
          <div class="bg-crimson skew-x-50 h-1.5 mt-1"></div>
        </div>
        <app-division-table [data]="tableFinal2" [config]="configFinal"></app-division-table>
        <div class="w-fit">
          <h3 class="text-xl text-white font-bold">Grupo 3</h3>
          <div class="bg-crimson skew-x-50 h-1.5 mt-1"></div>
        </div>
        <app-division-table [data]="tableFinal3" [config]="configFinal"></app-division-table>
        <div class="w-fit">
          <h3 class="text-xl text-white font-bold">Grupo 4</h3>
          <div class="bg-crimson skew-x-50 h-1.5 mt-1"></div>
        </div>
        <app-division-table [data]="tableFinal4" [config]="configFinal"></app-division-table>
      }
    </div>
    <div class="text-crimson font-bold text-sm flex justify-end mt-2">
      <span [routerLink]="'../tabla'" class="text-crimson hover:text-crimson-hover cursor-pointer">
        TABLAS COMPLETAS &nbsp;<fa-icon [icon]="Arrow"></fa-icon>
      </span>
    </div>
  </div>
</div>
<!-- Map -->
<app-division-map [regions]="regions" [mapConstructor]="mapConstructor" [dataMap]="dataMap"></app-division-map>
<!-- Tournament -->
<app-division-summary [summaryData]="summaryData"></app-division-summary>