<!-- Division -->
<div class="select-none">
  <img class="hidden md:block" src="assets/images/pages/Banner-l1.webp" alt="L1-Background">
  <img class="block md:hidden" src="assets/images/pages/Banner-l1-vertical.webp" alt="L1-Background">
  <app-division-info [data]="dataDivision"></app-division-info>
</div>
<!-- Map -->
<div class="select-none bg-gray-100 dark:bg-dark dark:text-white duration-500 flex flex-wrap justify-center w-full p-5">
  <div class="w-full md:w-3/6 lg:w-5/12 flex items-center">
    <div class="p-0 md:p-5">
      <h1 class="text-3xl font-semibold">Equipos</h1>
      <div class="bg-crimson skew-x-50 h-1.5 md:h-2 w-36 my-3"></div>
      <div class="flex justify-center">
        <p>En la temporada <b>2025</b> el número de equipos participantes de la <b>Liga 1</b> es de <b>19</b> equipos:</p>
      </div>
      <div class="flex flex-wrap justify-center py-3">
        @for (item of dataTeams; track $index) {
          <a routerLink="/club/{{ item.teamId }}">
            <img class="w-9" [src]="item.imageThumbnail" [alt]="item.alt">
          </a>
        }
      </div>
      <div class="bg-crimson skew-x-50 h-1.5 md:h-2 w-full my-3"></div>
    </div>
  </div>
  <div class="w-full md:w-3/6 lg:w-3/12 flex justify-center items-center">
    <div class="w-full p-5 bg-night">
      <app-map [map]="mapConstructor" [dataTeamsMap]="dataMap"></app-map>
    </div>
  </div>
</div>
<!-- Statistics -->
<app-title [title]="'Estadísticas'"></app-title>
<div class="bg-night text-white p-5">
  <div class="w-full xl:w-3/4 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-3">
    <div>
      <div class="mb-5">
        <p class="text-2xl font-bold">Partidos Ganados</p>
        <div class="bg-crimson skew-x-50 h-1.5 w-56 my-2"></div>
      </div>
      <app-statistics [data]="dataMostWins"></app-statistics>
    </div>
    <div>
      <div class="mb-5">
        <p class="text-2xl font-bold">Partidos Empatados</p>
        <div class="bg-crimson skew-x-50 h-1.5 w-56 my-2"></div>
      </div>
      <app-statistics [data]="dataMostDraws"></app-statistics>
    </div>
    <div>
      <div class="mb-5">
        <p class="text-2xl font-bold">Partidos Perdidos</p>
        <div class="bg-crimson skew-x-50 h-1.5 w-56 my-2"></div>
      </div>
      <app-statistics [data]="dataMostLosses"></app-statistics>
    </div>
    <div>
      <div class="mb-5">
        <p class="text-2xl font-bold">Mejor Defensa (GC)</p>
        <div class="bg-crimson skew-x-50 h-1.5 w-56 my-2"></div>
      </div>
      <app-statistics [data]="dataBestDefense"></app-statistics>
    </div>
    <div>
      <div class="mb-5">
        <p class="text-2xl font-bold">Peor Defensa (GC)</p>
        <div class="bg-crimson skew-x-50 h-1.5 w-56 my-2"></div>
      </div>
      <app-statistics [data]="dataWorstDefense"></app-statistics>
    </div>
    <div>
      <div class="mb-5">
        <p class="text-2xl font-bold">Más Goleador (GF)</p>
        <div class="bg-crimson skew-x-50 h-1.5 w-60 my-2"></div>
      </div>
      <app-statistics [data]="dataMostGoals"></app-statistics>
    </div>
    <div>
      <div class="mb-5">
        <p class="text-2xl font-bold">Menos Goleador (GF)</p>
        <div class="bg-crimson skew-x-50 h-1.5 w-60 my-2"></div>
      </div>
      <app-statistics [data]="dataFewestGoals"></app-statistics>
    </div>
  </div>
</div>