<!-- Main Background -->
<img class="hidden md:block w-full" src="assets/images/pages/Banner-l1.webp" alt="L1-Background">
<img class="block md:hidden" src="assets/images/pages/Banner-l1-vertical.webp" alt="L1-Background">
<!-- Division -->
<app-division-overview [data]="dataDivision" [description]="descriptionDivision" [tags]="tagsDivision"></app-division-overview>
<!-- Map -->
<app-division-map [regions]="regions" [mapConstructor]="mapConstructor" [dataMap]="dataMap"></app-division-map>
<!-- Tournament -->
<app-division-summary [summaryData]="summaryData"></app-division-summary>
