<!-- Main -->
<div class="w-full h-[540px] sm:h-[440px] relative select-none duration-500">
  <!-- Basckground -->
  <img class="absolute h-full inset-0 w-full object-cover md:object-top" [src]="teamData?.background" alt="TEAM-background">
  <div class="absolute h-full bg-black inset-0 bg-opacity-50"></div>
  <!-- Content -->
  <div class="absolute flex text-white flex-col justify-center items-center h-full inset-0">
    <div class="w-full flex flex-col sm:flex-row gap-3 items-center px-3 sm:px-5 lg:px-16 duration-500">
      <div class="bg-white rounded-full p-5 w-fit h-fit">
        <img [src]="teamData?.image" [alt]="teamData?.alt" class="w-24 min-w-24 sm:w-36 sm:min-w-36 duration-500">
      </div>
      <div class="w-full">
        <div class="bg-gold w-fit px-5 py-0.5 skew-x-30 mx-auto sm:mx-0">
          <p class="-skew-x-30 font-semibold text-sm sm:text-base duration-500">{{ teamData?.division }}</p>
        </div>
        <p class="font-bold text-5xl sm:text-6xl text-center sm:text-start duration-500">
          {{ teamData?.name }}
        </p>
        <div class="flex gap-3 justify-evenly sm:justify-start text-sm sm:text-base py-2 duration-500">
          <p class="truncate">
            <fa-icon [icon]="Location"></fa-icon> &nbsp;Región: <span class="font-semibold">{{ teamData?.location }}</span>
          </p>
          <p class="text-gold"><fa-icon [icon]="Divider"></fa-icon></p>
          <p class="truncate">
            <fa-icon [icon]="Flag"></fa-icon> &nbsp;Fundación: <span class="font-semibold">{{ teamData?.foundation }}</span>
          </p>
        </div>
        <!-- Social Media -->
        <div class="flex justify-center sm:justify-start gap-2 duration-500">
          @if (teamData?.social?.facebook) {
            <a target="_blank" rel="" [href]="teamData?.social?.facebook" class="bg-crimson hover:bg-crimson-hover flex justify-center items-center w-10 h-10 cursor-pointer">
              <fa-icon class="text-lg" [icon]="Facebook"></fa-icon>
            </a>
          }
          @if (teamData?.social?.instagram) {
            <a target="_blank" rel="noopener" [href]="teamData?.social?.instagram" class="bg-crimson hover:bg-crimson-hover flex justify-center items-center w-10 h-10 cursor-pointer">
              <fa-icon class="text-lg" [icon]="Instagram"></fa-icon>
            </a>
          }
          @if (teamData?.social?.twitter) {
            <a target="_blank" rel="noopener" [href]="teamData?.social?.twitter" class="bg-crimson hover:bg-crimson-hover flex justify-center items-center w-10 h-10 cursor-pointer">
              <fa-icon class="text-lg" [icon]="Twitter"></fa-icon>
            </a>
          }
          @if (teamData?.social?.youtube) {
            <a target="_blank" rel="noopener" [href]="teamData?.social?.youtube" class="bg-crimson hover:bg-crimson-hover flex justify-center items-center w-10 h-10 cursor-pointer">
              <fa-icon class="text-lg" [icon]="Youtube"></fa-icon>
            </a>
          }
          @if (teamData?.social?.tiktok) {
            <a target="_blank" rel="noopener" [href]="teamData?.social?.tiktok" class="bg-crimson hover:bg-crimson-hover flex justify-center items-center w-10 h-10 cursor-pointer">
              <fa-icon class="text-lg" [icon]="Tiktok"></fa-icon>
            </a>
          }
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Options -->
<div class="bg-crimson w-full h-12">

</div>
<!-- Content -->
<div class="bg-night p-3 sm:p-5 lg:px-16">
    <div class="w-full">
      <div class="grid grid-cols-8 gap-3 sm:gap-5 select-none">
        <!-- Website -->
        <div class="bg-neutral-100 col-span-8 md:col-span-4 lg:col-span-2 row-start-1 lg:row-start-1">
          <div class="w-full bg-crimson text-white image px-5 py-3">
            <div class="h-full flex justify-center md:justify-start items-center">
              <p class="text-lg font-bold">Sitio Web</p>
            </div>
          </div>
          <div class="p-3 truncate text-center">
            @if (teamData?.website) {
              <a [href]="teamData?.website">
                <fa-icon [icon]="Web"></fa-icon> {{ teamData?.website}}
              </a>
            } @else {
              <p>No tiene sitio web.</p>
            }
          </div>
        </div>
        <!-- Stadium -->
        <div class="bg-nightfall col-span-8 md:col-span-4 lg:col-span-2 row-start-2 md:row-start-1 lg:row-start-2">
          <div class="w-full bg-crimson text-white image px-5 py-3">
            <div class="h-full flex justify-center md:justify-start items-center">
              <p class="text-lg font-bold">Estadio</p>
            </div>
          </div>
          <div class="p-5">
            <p class="text-white font-semibold truncate pb-2">
              <fa-icon [icon]="Stadium"></fa-icon> &nbsp; {{ teamData?.stadium?.name }}
            </p>
            <img class="lg:h-40 xl:h-60 object-cover w-full" [src]="teamData?.stadium?.image" alt="STADIUM-image">
            <div class="text-white flex justify-between text-xs pt-1">
              <p><fa-icon [icon]="Users"></fa-icon> &nbsp; {{ teamData?.stadium?.capacity }}</p>
              <p><fa-icon [icon]="Location"></fa-icon> &nbsp; {{ teamData?.stadium?.location }}</p>
            </div>
          </div>
        </div>
        <!-- Info -->
        <div class="bg-nightfall col-span-8 lg:col-span-6 row-start-3 md:row-start-2 lg:row-start-1 lg:row-span-4 lg:col-start-3 p-5">
          <div class="flex justify-center">
            <div class="w-full md:w-5/6 lg:w-8/12 grid sm:grid-cols-1 md:grid-cols-2 md:space-x-6 px-8 pb-5">
              @if (category === 1) {
                @if (apertura || clausura) {
                  <app-btn (click)="setActiveTab('apertura')" [active]="apertura">Apertura</app-btn>
                  <app-btn (click)="setActiveTab('clausura')" [active]="clausura">Clausura</app-btn>
                }
              }
              @if (category === 2) {
                <app-btn (click)="setActiveTab('regional')" [active]="regional">Fase Regional</app-btn>
                <app-btn (click)="setActiveTab('grupos')" [active]="grupos">Fase Grupos</app-btn>
              }
              @if (category === 3) {
                <app-btn (click)="setActiveTab('regional')" [active]="regional">Fase Regional</app-btn>
                <app-btn (click)="setActiveTab('final')" [active]="final">Fase Final</app-btn>
              }
            </div>
          </div>
          @if (activeLastGames) {
            <!-- Lastgames -->
            <div class="w-fit">
              <h3 class="text-2xl text-white font-bold">Resultados</h3>
              <div class="bg-crimson skew-x-50 h-1.5 mt-1 mb-2"></div>
            </div>
            <div class="bg-brightnight p-3 flex gap-1 sm:gap-0 justify-center sm:justify-evenly flex-wrap sm:flex-nowrap rounded-3xl">
              @for (lastGame of teamData?.lastgames?.[activeLastGames]; track $index) {
                @switch (lastGame) {
                  @case ("w") {
                    <fa-icon class="text-xl text-green-600" [icon]="Win"></fa-icon>
                  }
                  @case ("d") {
                    <fa-icon class="text-xl text-neutral-300" [icon]="Draw"></fa-icon>
                  }
                  @case ("l") {
                    <fa-icon class="text-xl text-red-600" [icon]="Lose"></fa-icon>
                  }
                  @default {
                    <fa-icon class="text-xl text-neutral-400" [icon]="Default"></fa-icon>
                  }
                }
              }
            </div>
            <div class="flex justify-center gap-5 text-sm py-1">
              <div class="text-neutral-400">
                <fa-icon class="text-xs text-green-600" [icon]="Win"></fa-icon> Victoria
              </div>
              <div class="text-neutral-400">
                <fa-icon class="text-xs text-neutral-300" [icon]="Draw"></fa-icon> Empate
              </div>
              <div class="text-neutral-400">
                <fa-icon class="text-xs text-red-600" [icon]="Lose"></fa-icon> Derrota
              </div>
            </div>
            <!-- Performance -->
            <div class="w-fit">
              <h3 class="text-2xl text-white font-bold">Rendimiento</h3>
              <div class="bg-crimson skew-x-50 h-1.5 mt-1 mb-2"></div>
            </div>
            <div class="grid grid-cols-6 gap-3 mb-5">
              <div class="bg-brightnight p-3 rounded-2xl w-full min-w-20 col-span-3 md:col-span-2 lg:col-span-1">
                <p class="text-gold text-sm font-semibold truncate">Puntos</p>
                <p class="text-white text-6xl font-bold truncate">
                  {{
                    teamData?.performance?.[activeLastGames].w * 3 + teamData?.performance?.[activeLastGames].d -
                    teamData?.performance?.[activeLastGames].sanction +
                    (teamData?.performance?.[activeLastGames].addition ?? 0)
                  }}
                </p>
              </div>
              <div class="bg-brightnight p-3 rounded-2xl w-full min-w-20 col-span-3 md:col-span-2 lg:col-span-1">
                <p class="text-gold text-sm font-semibold truncate">PG</p>
                <p class="text-white text-6xl font-bold truncate">{{ teamData?.performance?.[activeLastGames].w }}</p>
              </div>
              <div class="bg-brightnight p-3 rounded-2xl w-full min-w-20 col-span-3 md:col-span-2 lg:col-span-1">
                <p class="text-gold text-sm font-semibold truncate">PE</p>
                <p class="text-white text-6xl font-bold truncate">{{ teamData?.performance?.[activeLastGames].d }}</p>
              </div>
              <div class="bg-brightnight p-3 rounded-2xl w-full min-w-20 col-span-3 md:col-span-2 lg:col-span-1">
                <p class="text-gold text-sm font-semibold truncate">PP</p>
                <p class="text-white text-6xl font-bold truncate">{{ teamData?.performance?.[activeLastGames].l }}</p>
              </div>
              <div class="bg-brightnight p-3 rounded-2xl w-full min-w-20 col-span-3 md:col-span-2 lg:col-span-1">
                <p class="text-gold text-sm font-semibold truncate">GF</p>
                <p class="text-white text-6xl font-bold truncate">{{ teamData?.performance?.[activeLastGames].gf }}</p>
              </div>
              <div class="bg-brightnight p-3 rounded-2xl w-full min-w-20 col-span-3 md:col-span-2 lg:col-span-1">
                <p class="text-gold text-sm font-semibold truncate">GC</p>
                <p class="text-white text-6xl font-bold truncate">{{ teamData?.performance?.[activeLastGames].ga }}</p>
              </div>
            </div>
            <!-- Fixture -->
            <div class="w-fit">
              <h3 class="text-2xl text-white font-bold">Fixture</h3>
              <div class="bg-crimson skew-x-50 h-1.5 mt-1 mb-2"></div>
            </div>
            <div class="bg-night text-white p-5 grid grid-cols-1">
              @if (filteredFixtureStage) {
                <app-team-fixture [teamFixture]="filteredFixtureStage[activeLastGames]"></app-team-fixture>
              }
            </div>
          }
        </div>
      </div>
    </div>
</div>
<!-- Information -->
<app-title [title]="'Información'"></app-title>