@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #2c2a27;
}
::-webkit-scrollbar-thumb {
  background: #4b4947;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}

.background-pattern {
  background-image: url('/assets/images/pages/Background-pattern.png');
  background-size: cover;
}