<div class="bg-night rounded-3xl font-semibold">
  <div class="p-10">
    <table class="w-full">
      <thead class="text-gray-300 border-b-4 border-[#585858]" style="font-size: 12px;">
        <tr class="h-10">
          @for (header of headers; track $index) {
            @if ($index === 0) {
              <th class="w-1.5">{{ header }}</th>
            } @else if ($index === 1) {
              <th class="w-12">{{ header }}</th>
            } @else if ($index === 2) {
              <th class="text-start w-3/12">{{ header }}</th>
            } @else if ($index === 3) {
              <th class="bg-[#313131] rounded-t-lg">{{ header }}</th>
            } @else if ($index === 11) {
              <th class="w-72">{{ header }}</th>
            } @else {
              <th>{{ header }}</th>
            }
          }
        </tr>
      </thead>
      <tbody class="text-gray-200">
        @for (item of data; track $index) {
          <tr class="h-12 text-lg text-center hover:bg-gray-200 hover:text-neutral-900">
            @if ($index >= 0 && $index < config[0].quantity) {
              <td [ngClass]="config[0].class"></td>
            } @else if ($index >= config[0].quantity && $index < (config[0].quantity + config[1].quantity)) {
              <td [ngClass]="config[1].class"></td>
            } @else if ($index >= (data.length - config[2].quantity)) {
              <td [ngClass]="config[2].class"></td>
            } @else {
              <td></td>
            }
            <td class="text-sm">{{ $index + 1 }}</td>
            <td>
              <div class="flex">
                <img src="assets/images/no-team-liga-1.png" alt="" class="w-8">
                <span class="ml-3">{{ item.name }}</span>
              </div>
            </td>
            <td class="bg-[#313131] text-gray-200 font-bold">{{ (item.pg * 3) + item.pe }}</td>
            <td>{{ item.pg + item.pe + item.pp }}</td>
            <td>{{ item.pg }}</td>
            <td>{{ item.pe }}</td>
            <td>{{ item.pp }}</td>
            <td>{{ item.gf }}</td>
            <td>{{ item.gc }}</td>
            <td>{{ item.gf - item.gc }}</td>
            <td class="flex">
              <div class="w-full flex items-center justify-center h-11 space-x-4 text-xl">
                @for (lastGame of item.lastGames; track $index) {
                  @switch (lastGame) {
                    @case ("win") {
                      <fa-icon class="text-green-600" [icon]="Win"></fa-icon>
                    }
                    @case ("draw") {
                      <fa-icon class="text-neutral-400" [icon]="Draw"></fa-icon>
                    }
                    @case ("lose") {
                      <fa-icon class="text-red-600" [icon]="Lose"></fa-icon>
                    }
                    @default {
                      <fa-icon class="text-neutral-400" [icon]="Default"></fa-icon>
                    }
                  }
                }
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
